.modal-1, .modal-2,.modal-3 {
    max-width: 50ch;
  }
  
  .modal-1::backdrop,.modal-2::backdrop,.modal-3::backdrop {
    background: rgba(65, 64, 64, 0.4);
  }

  
  
  /* extra styling */
  
  body {
    min-height: 100vh;
    margin: 2rem;
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--gray-8);
    
  }
  
  h1 em {
    color: var(--cyan-9);
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
  
  .button-1,.button-2,.button-3 {
    border: 0;
    cursor: pointer;
    background: var(--gray-8);
    color: var(--gray-2);
    font-weight: 700;
    padding: var(--size-2) var(--size-4);
  }
  
  
  .button-1:hover,
  .button-1:focus,.button-2:hover,
  .button-2:focus ,.button-1:hover,
  .button-1:focus{
    background: var(--cyan-9);
  }

  
  form {
    display: grid;
    gap: 1em;
  }
  